<div class="nav">
  <div class="nav-logo">Maneesh M</div>

  <div class="nav-right">
    <div class="nav-links">
      <span [class.active]="activeSection === 'hero'" (click)="scrollTo('hero')">
        <span class="desktop-text">Home</span>
        <i class="fi fi-rr-home mobile-icon"></i>
      </span>
      <span [class.active]="activeSection === 'about'" (click)="scrollTo('about')">
        <span class="desktop-text">About</span>
        <i class="fi fi-rr-user mobile-icon"></i>
      </span>
      <span [class.active]="activeSection === 'experience'" (click)="scrollTo('experience')">
        <span class="desktop-text">Experience</span>
        <i class="fi fi-rr-briefcase mobile-icon"></i>
      </span>
      <span [class.active]="activeSection === 'projects'" (click)="scrollTo('projects')">
        <span class="desktop-text">Projects</span>
        <i class="fi fi-rr-folder mobile-icon"></i>
      </span>
    </div>

    <div class="theme-toggle" (click)="toggleTheme()">
      <i class="fi fi-rr-moon" style="margin-top: 4px;" *ngIf="!isDarkMode"></i>
      <i class="fi fi-rr-sun" *ngIf="isDarkMode"></i>
    </div>
  </div>
</div>