<div class="section-card">
  <div class="section-num">02</div>
  <div class="section-title">Experience</div>
  
  <div class="experience-list">
    <ng-container *ngFor="let exp of experiences">
      <div class="exp-item">
        <div class="exp-header">
          <h3>{{ exp.role }}</h3>
          <span class="company">{{ exp.company }}</span>
          <span class="duration">{{ exp.duration }}</span>
          
        </div>

        <p class="exp-summary">
          {{ exp.summary }}
        </p>

        <ul class="exp-points">
          <li *ngFor="let point of exp.points">
            <span class="dot"></span>
            <span class="point-text">{{ point }}</span>
          </li>
        </ul>
      </div>
    </ng-container>
  </div>
</div>
